  html {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
   }
  body {
    height: 100%;
    width: 100%;
    background: rgb(33,112,203);
    background: linear-gradient(90deg, rgba(33,112,203,1) 19%, rgba(255,255,255,1) 77%);
   }
  h1 {
    font-size: 90px;
    padding: 8px;
    margin: 85px;
    color : #083da8;
   }
  h2 {
    color: #083da8;
    padding: 40px;
   }
  .box {
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: row;
   }
   #box1 {
    background-color: #0000ff;
   }
   #box2 {
    background-color: #ff0000;
   }
   #box3 {
    background-color: #ffff00;
   }
   #box4 {
    background-color: #ffffff;
   }
   #box5 {
    background-color: #ffa500;
   }
   .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;  
    align-items: center;
   }
   .color-boxes-container{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 90px;
   }
   .box-colors {
   float: left;
   box-sizing: border-box;
   }
   .color-box {
   display: flex;
   align-items: center;
   flex-direction: column;
   }
  .color-hex {
   font-weight: bold;
   margin-right: 10px;
   margin-bottom: -20px;
  }
  .lock-emoji {
   font-size: 20px;
  }
  .trash-button {
  font-size: 20px;
  }
  .unlock-emoji {
   font-size: 20px;
  }
  .buttons {
  margin-right: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 65px;
  font-style: italic;
  font-weight: bold;
  }
 .right-section {
  float: right;
  width: 230px;
  height: 137%;
  background-color: white;
  border: 5px solid black;
  padding: 33px;
  margin-right: -116px
  }
 main {
  flex: 70% ;
  display: flex;
  justify-content: center;
  }
 .wrapper1 {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-evenly;
  }
 .wrapper2 {
    display: flex;
    justify-content: center;
    float: right;
    margin-right: -41px;
  }
 .box-details {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 132px
  }
 .mini-palette {
  display: flex;
  justify-content: space-around;
  }
 .mini-box-details {
  height: 50px;
  width: 50px;
  }
 .hidden {
  display : none;
  }
  